@import url(./often.css);

.bluebar {
  background-color: var(--super-dark-blue);
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--off-white);
  gap: 2rem;
  padding: 3rem;
  flex-wrap: wrap;
}
.bluebar .thank-you {
  margin-left: auto;
}
.icon-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.text-button-wrapper {
  align-self: center;
  justify-content: center;
  display: flex;
  gap: 0 2rem;
}

.text-button-wrapper p {
  font-size: 2rem;
  text-decoration: underline;
}
.fake-button {
  background-color: var(--super-dark-blue);
  color: var(--off-white);
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  margin: 1rem;
  display: inline-block;
}
.fake-button-2 {
  border: 4px solid var(--super-dark-blue);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  display: inline-block;
}
.link-heading{
  color: var(--off-white);
  text-decoration: none;
}
.link-heading:hover{
  text-decoration: underline;
}
.other-products-jackets-wrapper {
  max-width: 100%;
}
.section {
  justify-content: center;
}
.other-products {
  border: 5px solid var(--super-dark-blue);
  border-radius: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}
.other-jacket img {
  max-width: 100%;
}
