@import url(often.css);
.jacket1 {
  max-width: 595px;
  max-height: 723px;
  width: 100%;
  height: 100%;
}
.link-as-button {
  background-color: var(--super-dark-blue);
  color: var(--off-white);
  font-family: "Saira Condensed";
  font-size: 1.75rem;
  border-radius: 2rem;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem;
}
.size-wrapper {
  max-width: 50%;
}
