@import url(./often.css);
.jackets{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
 gap: 0 5rem;
}
.jackets img{
  max-width: 330px;
  width: 100%;
}
h3{
    text-decoration: underline;
}

