@import url(often.css);
.products-container {
  position: relative;
}
#products {
  display: flex;
  justify-content: center;
}
#products li img {
  max-width: auto;
  height: 350px;
  margin: 20px;
}
#products li h3 {
  font-size: 1.25rem;
  margin-top: 5px;
  color: #0f172e;
}
#products li:hover img {
  transform: scale(1.1);
}
.img-gallery {
  position: relative;
  margin: 2rem;
}
.carousel {
  display: flex;
  overflow-x: auto;
  position: relative;
  scroll-snap-type: x mandatory;
}

.carousel img {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 400px;
  margin: 5px;
  scroll-snap-align: start;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  justify-content: center;
  align-items: center;
}

#loading::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
