@import url(often.css);
.products-container {
  position: relative;
}
#products {
  display: flex;
  justify-content: center;
}
#products li img {
  max-width: auto;
  height: 350px;
  margin: 20px;
}
#products li h3 {
  font-size: 1.25rem;
  margin-top: 5px;
  color: #0f172e;
}
#products li:hover img {
  transform: scale(1.1);
}
.img-gallery {
  position: relative;
  margin: 2rem;
}
.carousel {
  display: flex;
  overflow-x: auto;
  position: relative;
  scroll-snap-type: x mandatory;
}
.carousel img {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 400px;
  margin: 5px;
  scroll-snap-align: start;
}

