body{
    background-color: #f9f9f9;
    color:#0F172E ;
    font-family: "Saira Condensed", sans-serif;
    /*reset*/
    margin:0px; 
    font-size: 1.25rem;
    text-transform: uppercase; 
}
.header-img {
   max-width: 100%;
    height: auto;
    width: 100%;
    display: block;  
     /*img leave a little gap when default display property*/   
    object-fit: contain;
}
.header-logo{
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;  
}
.header-img-container{
position: relative;

}
.img-left-side-home{
    width: 266px;
    height: 323px;
    border-radius: 239px;
}
section{
    display: flex;
    gap: 1rem;
    margin: 10rem;
}
.img-right-side-home{
    max-width: 273px;
    height: 392px;
    border-radius: 35px;
}
.img-left-side-home{
   max-width: 265px;
    height: 322px;
    flex-shrink: 0; 
}
.round-img-bottom-left{
    max-width:265px;
    height: 271px; 
}
.img-right-side-bottom{
    max-width:265px;
    height: 322px;
    border-radius: 42px;
}
.navigation{
    background-color: #0F172E;
    text-align: center; 
    font-size: 2rem;
    line-height: normal;
    font-weight: 700;
    padding: 20px;
}
.navigation a{
    color: #f9f9f9;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    margin: 50px;
    font-size: 2rem;
  font-style: normal;    
}
main{
   text-align: center;
   color: #0F172E;
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 600
   
 
}
footer{
    background-color:#905B3E;
    height: 304px;
    position: relative;  
}
.overlay-text{
    color: #f9f9f9;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.free-shipping{

    font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.paymentmethods{
    display: flex;
    width: 287px;
    height: 54px;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;

}
.terms-privacy{
    color: #F9F9F9;
    font-family: Saira Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.show-us{
    color: #F9F9F9;
font-family: Saira Condensed;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.social-media{
    fill: #F9F9F9;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}