@import url(./often.css);

.jackets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 5rem;
  margin: 2rem var(--page-horizontal-padding);
}
.jackets img {
  max-width: 330px;
  width: 100%;
}
.link-heading{
  color: black;
  text-decoration: none;
}
.link-heading:hover{
  text-decoration: underline;
}

