@import url(../often.css);
#jacket-details {
  max-width: 600px;
  margin: 0 auto;
}
#jacket-details h2 {
  font-size: 2rem;
  color: var(--super-dark-blue);
  font-size: 2rem;
}
#jacket-details img {
  max-width: 100%;
  height: 500px;
}
#jacket-details p {
  font-size: 1.5rem;
  color: var(--super-dark-blue);
}
