body{
    background-color: #f9f9f9;
    color:#0F172E ;
    font-family: "Saira Condensed", sans-serif;
    /*reset*/
    margin:0px;
    font-size: 1.25rem;
    text-transform: uppercase;

}

.header-img {
    max-width: 100%;
     height: auto;
     width: 100%;
     display: block;  
     /*img leave a little gap when default display property*/   
     object-fit: contain;
 }
.header-logo{
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;   
}
.header-img-container{
    position: relative;
    
 }
section{
        display: flex;
        gap: 1rem;
        margin: 10rem;
    }
    .jacket1{
        width: 595px;
        height: 723px;
       


    }
    
    .link-as-button{
        background-color: #0F172E;
        color: #F9F9F9;
        font-family: "Saira Condensed";
        font-size: 1.75rem;
        border-radius: 2rem;
        padding: 20px;
        text-decoration: none;
    }
.navigation{
    background-color: #0F172E;
    text-align: center; 
    font-size: 2rem;
    line-height: normal;
    font-weight: 700;
    padding: 20px;
}
.navigation a{
    color: #f9f9f9;
    text-decoration: none;

}
nav a:hover{
    text-decoration: underline;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
li{
    display: inline;
    margin: 50px;
    font-size: 2rem;
    font-style: normal;    
}
.size-wrapper{
    max-width: 50%;
}
footer{
    background-color:#905B3E;
    position: relative;  
}
.footer-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.overlay-text{
    color: #f9f9f9;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    grid-column: 1/-1;
    justify-self: center;
}
.free-shipping{

    font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
gap: 0.5rem;
justify-self: center;
align-self: center;
}
.free-shipping p{
    margin-block-end: 0;
    margin-block-start: 0;
}
.paymentmethods{
    display: flex;
    width: 287px;
    height: 54px;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
}
.snakkeboble{
    position: absolute;
    justify-self: center;
align-self: center;
top: -65px;
padding-left: 160px;
}
.terms-privacy{
    color: #F9F9F9;
    font-family: Saira Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-block-end: 0;
    margin-block-start: 0;
}
.terms-wrapper{
    background-color: #905B3E;
    align-self: center;
    justify-self: center;
}
.show-us{
    color: #F9F9F9;
font-family: Saira Condensed;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.social-media{
    fill: #F9F9F9;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.social-media-wrapper{
    align-self: center;
    justify-self: center;
}
@media (max-width:1000px){
    section{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    .jacket1{
       width:50% ; 
       height: 50%;
    }
}